In [50]:
import os
import pandas as pd
import numpy as np

import datetime as dt

In [51]:
df = pd.read_parquet("../output/data/SCHEMA_21JAN2021_31AUG2021.parquet")

In [23]:
# --> filtros
filter1 = df["OBITO INCONSISTENCIA COVID"]==False
filter2 = df["OBITO INCONSISTENCIA CARTORIOS"]==False
filter3 = df["TESTE POSITIVO ANTES COORTE"]=="NAO"
df["VACINA APLICADA"] = df["VACINA APLICADA"].fillna("NAO VACINADO")

vaccine = "CORONAVAC"
filter4 = df["VACINA APLICADA"]==vaccine
filter5 = df["VACINA APLICADA"]=="NAO VACINADO"

df1 = df[(filter1) & (filter2) & (filter3)]
df_vac = df1[filter4]
df_nonvac = df1[filter5]

C:\Users\HIGOR~1.MON\AppData\Local\Temp/ipykernel_25748/1323510016.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_vac = df1[filter4]
C:\Users\HIGOR~1.MON\AppData\Local\Temp/ipykernel_25748/1323510016.py:13: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_nonvac = df1[filter5]

In [35]:
df_vac.shape

(507948, 36)

In [36]:
df_nonvac.shape

(291412, 36)

In [39]:
df[pd.notna(df["DATA INTERNACAO"])]

,NOME,CPF,CNS,DATA NASCIMENTO,NOME MAE,CEP,BAIRRO,SEXO,SITUACAO VACINEJA,cpf LINKAGE VACINADOS,...,DATA FALECIMENTO(CARTORIOS),NUMERODO(CARTORIOS),DATA NOTIFICACAO SIVEP,DATA INTERNACAO,EVOLUCAO,DATA EVOLUCAO,COLETA APOS OBITO,SOLICITACAO APOS OBITO,OBITO INCONSISTENCIA COVID,OBITO INCONSISTENCIA CARTORIOS
44,FRANCISCO GARCIA TEIXEIRA,09054987391,704809064903344,1953-12-25,FRANCISCA GARCIA TEIXEIRA,60841140,MESSEJANA,M,RECEBEU AO MENOS UMA DOSE,09054987391,...,NaT,NaN,[2021-03-28T00:00:00.000000],[2021-03-28T00:00:00.000000],[CURA],[2021-04-10T00:00:00.000000],False,False,False,False
84,MARIA ROSIANE MARIANO,03005525309,nan,1989-10-23,ROSA ADALIA MARIANO,60330672,JARDIM IRACEMA,F,RECEBEU AO MENOS UMA DOSE,03005525309,...,NaT,NaN,[2021-04-24T00:00:00.000000],[2021-04-23T00:00:00.000000],[CURA],[2021-04-26T00:00:00.000000],False,False,False,False
121,EVANDA BARBOSA DE BRITO,16354338353,nan,1960-06-04,MARIA BARBOSA DE BRITO,60833183,SAPIRANGA / COITE,M,RECEBEU AO MENOS UMA DOSE,16354338353,...,NaT,NaN,[2021-04-16T00:00:00.000000],[2021-04-11T00:00:00.000000],[CURA],[2021-04-15T00:00:00.000000],False,False,False,False
123,MARIA ELENILDA DA SILVA SANTOS,22164367391,707602251811091,1960-09-30,JOAQUINA ELENA DA SILVA,60110371,JOAQUIM TAVORA,F,RECEBEU AO MENOS UMA DOSE,22164367391,...,NaT,NaN,[2021-04-11T00:00:00.000000],[2021-04-10T00:00:00.000000],[CURA],[2021-04-21T00:00:00.000000],False,False,False,False
215,FRANCISA GLEIDE CAMURCA HONORATO,16497465391,nan,1961-08-13,ANATALIA CAMURCA HONORATO,60025002,BENFICA,F,RECEBEU AO MENOS UMA DOSE,16497465391,...,NaT,NaN,[2021-05-31T00:00:00.000000],[2021-04-27T00:00:00.000000],[CURA],[2021-05-04T00:00:00.000000],False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2274905,JOS MILTON DA SILVA JUNIOR,76823466391,nan,1976-01-28,MARIA DO SOCORRO COUTINHO DA SILVA,60330175,BARRA DO CEARA,M,N√ÉO VACINADO,None,...,NaT,NaN,[2021-04-29T00:00:00.000000],[2021-04-29T00:00:00.000000],[SEM INFO],[NaT],False,False,False,False
2275024,MARIA DA CONCEICAO GOMES DE SALES,21116466368,nan,1949-06-24,MARIA DO CARMO DA CONCEICAO GOMES,60732437,N√ÉO INFOMRADO,F,N√ÉO VACINADO,None,...,2021-04-23,314814795.0,[2021-04-10T00:00:00.000000],[2021-04-10T00:00:00.000000],[OBITO],[2021-04-23T00:00:00.000000],False,False,False,False
2275062,FRANCISCO DE ASSIS NOBRE DE ANDRADE,07322658353,706206561482265.0,1953-12-06,MARIA CARMELIA NOBRE DE ANDRADE,60530320,N√ÉO INFOMRADO,M,N√ÉO VACINADO,None,...,2021-03-19,295637714.0,[2021-03-12T00:00:00.000000],[2021-03-09T00:00:00.000000],[OBITO],[2021-03-19T00:00:00.000000],False,False,False,False
2275099,MARIA MARTA ARAUJO DA SILVA,11118547349,nan,1956-07-18,LINDALVA DE OLIVEIRA ARAUJO,60720720,PARANGABA,F,N√ÉO VACINADO,None,...,2021-03-23,254117422.0,[2021-03-08T00:00:00.000000],[2021-03-08T00:00:00.000000],[OBITO],[2021-03-23T00:00:00.000000],False,False,False,False
2275148,MARIA GRACA ALVES COSTA,73863700325,nan,1959-12-21,MARIA IRENE FELIX ALVES,60872690,PAUPINA,F,N√ÉO VACINADO,None,...,2021-03-29,254143172.0,[2021-06-30T00:00:00.000000],[2021-03-21T00:00:00.000000],[OBITO],[2021-03-29T00:00:00.000000],False,False,False,False

In [4]:
df["POSITIVOS COLETA DATA"].notnull().sum()

244522

In [17]:
df[pd.notna(df["POSITIVOS COLETA DATA"])][["DATA D1", "DATA D2", "POSITIVOS COLETA DATA", "TESTE POSITIVO ANTES COORTE"]][:10]

,DATA D1,DATA D2,POSITIVOS COLETA DATA,TESTE POSITIVO ANTES COORTE
3,2021-05-20,2021-08-04,[2021-04-09T00:00:00.000000],NAO
11,2021-05-23,2021-08-14,[2020-05-23T00:00:00.000000],NAO
14,2021-05-23,2021-08-04,[2020-10-26T00:00:00.000000],NAO
20,2021-05-23,2021-08-04,[2020-07-21T00:00:00.000000],NAO
27,2021-05-23,2021-07-24,[2022-01-14T00:00:00.000000],NAO
39,2021-05-20,2021-08-04,[2021-06-23T00:00:00.000000],NAO
44,2021-05-15,2021-08-14,[2020-10-23T00:00:00.000000],NAO
47,2021-11-25,2021-12-10,"[2021-05-20T00:00:00.000000, 2021-05-19T00:00:...",NAO
53,2021-05-23,2021-07-23,[2020-07-19T00:00:00.000000],NAO
57,2021-05-23,2021-07-23,[2022-01-11T00:00:00.000000],NAO

In [22]:
df[df["TESTE POSITIVO ANTES COORTE"]=="SIM"][["DATA D1", "DATA D2", "POSITIVOS COLETA DATA", "TESTE POSITIVO ANTES COORTE"]]

,DATA D1,DATA D2,POSITIVOS COLETA DATA,TESTE POSITIVO ANTES COORTE
203,2021-05-31,2021-08-05,"[2020-12-10T00:00:00.000000, 2020-12-10T00:00:...",SIM
574,2021-05-25,2021-08-16,"[2020-12-12T00:00:00.000000, 2020-12-02T00:00:...",SIM
1278,2021-05-30,2021-08-06,"[2022-01-19T00:00:00.000000, 2020-04-24T00:00:...",SIM
2414,2021-06-09,2021-09-07,"[2022-01-12T00:00:00.000000, 2020-07-13T00:00:...",SIM
2868,2021-05-23,2021-07-29,"[2020-04-25T00:00:00.000000, NaT]",SIM
...,...,...,...,...
2265344,2021-06-23,2021-09-23,"[2021-06-21T00:00:00.000000, 2020-12-02T00:00:...",SIM
2266421,2021-07-19,2021-10-06,"[2020-05-22T00:00:00.000000, 2021-04-19T00:00:...",SIM
2266845,2021-08-14,2021-10-11,"[2021-01-05T00:00:00.000000, 2022-01-12T00:00:...",SIM
2267231,2021-01-24,2021-02-21,"[2021-05-03T00:00:00.000000, 2020-11-13T00:00:...",SIM
2271625,2021-06-26,2021-11-16,[2020-06-30T00:00:00.000000],SIM

In [20]:
df["TESTE POSITIVO ANTES COORTE"].value_counts()

NAO    2272726
SIM       2583
Name: TESTE POSITIVO ANTES COORTE, dtype: int64

In [26]:
def cohort_vaccine(x, init_cohort, final_cohort):
    '''
         Vaccination status during cohort.
    '''
    d1 = x['DATA D1']
    d2 = x['DATA D2']
    d3 = x['DATA D3']
    
    str_vac = ''
    if pd.notna(d1) and (d1>=init_cohort and d1<=final_cohort):
        str_vac+='(D1)'
    if pd.notna(d2) and (d2>=init_cohort and d2<=final_cohort):
        str_vac+='(D2)'
    if pd.notna(d3) and (d3>=init_cohort and d3<=final_cohort):
        str_vac+='(D3)'
    return str_vac

In [31]:
df["STATUS VACINACAO NA COORTE"] = df[["DATA D1", "DATA D2", "DATA D3"]].apply(lambda x: cohort_vaccine(x, dt.datetime(2021, 1, 21), dt.datetime(2021, 8, 31)), axis=1)

In [34]:
df["STATUS VACINACAO NA COORTE"].value_counts()[:2].sum()

1665721

In [37]:
df.columns

Index(['NOME', 'CPF', 'CNS', 'DATA NASCIMENTO', 'NOME MAE', 'CEP', 'BAIRRO',
       'SEXO', 'SITUACAO VACINEJA', 'cpf LINKAGE VACINADOS',
       'id LINKAGE INTEGRASUS', 'ordem LINKAGE OBITO COVID',
       'cpf LINKAGE CARTORIOS', 'primary key LINKAGE SIVEP',
       'TESTE POSITIVO ANTES COORTE', 'POSITIVOS COLETA DATA',
       'POSITIVOS SOLICITACAO DATA', 'VACINA APLICADA', 'DATA D1', 'DATA D2',
       'DATA D3', 'DATA D4', 'ORDEM(OBITO COVID)', 'NUMERODO(OBITO COVID)',
       'DATA PRI SINTOMAS(OBITO COVID)', 'DATA OBITO',
       'DATA FALECIMENTO(CARTORIOS)', 'NUMERODO(CARTORIOS)',
       'DATA NOTIFICACAO SIVEP', 'DATA INTERNACAO', 'EVOLUCAO',
       'DATA EVOLUCAO', 'COLETA APOS OBITO', 'SOLICITACAO APOS OBITO',
       'OBITO INCONSISTENCIA COVID', 'OBITO INCONSISTENCIA CARTORIOS',
       'STATUS VACINACAO DURANTE COORTE', 'STATUS VACINACAO'],
      dtype='object')

In [52]:
df["STATUS VACINACAO"].value_counts()

(D1)(D2)            1258147
(D1)(D2)(D3)         521256
                     291544
(D1)                 172125
(D4)                  29920
(D2)(D3)               1070
(D2)                    533
(D3)                    305
(D1)(D3)                190
(D2)(D4)                 65
(D1)(D4)                 64
(D1)(D2)(D4)             47
(D3)(D4)                 32
(D1)(D2)(D3)(D4)          8
(D2)(D3)(D4)              3
Name: STATUS VACINACAO, dtype: int64

In [48]:
cols = ['NOME', 'DATA NASCIMENTO', 'NOME MAE', 'BAIRRO',
       'SITUACAO VACINEJA',
       'TESTE POSITIVO ANTES COORTE', 'POSITIVOS COLETA DATA',
        'VACINA APLICADA',
       'DATA D3', 'DATA D4', 'ORDEM(OBITO COVID)', 'NUMERODO(OBITO COVID)',
       'DATA PRI SINTOMAS(OBITO COVID)', 'DATA OBITO',
       'DATA FALECIMENTO(CARTORIOS)', 'NUMERODO(CARTORIOS)',
       'DATA NOTIFICACAO SIVEP', 'DATA INTERNACAO', 'EVOLUCAO',
       'DATA EVOLUCAO', 'COLETA APOS OBITO', 'SOLICITACAO APOS OBITO',
       'OBITO INCONSISTENCIA COVID', 'OBITO INCONSISTENCIA CARTORIOS',
       'STATUS VACINACAO DURANTE COORTE', 'STATUS VACINACAO']
df[df["STATUS VACINACAO"]=="(D4)"][cols]

,NOME,DATA NASCIMENTO,NOME MAE,BAIRRO,SITUACAO VACINEJA,TESTE POSITIVO ANTES COORTE,POSITIVOS COLETA DATA,VACINA APLICADA,DATA D3,DATA D4,...,DATA NOTIFICACAO SIVEP,DATA INTERNACAO,EVOLUCAO,DATA EVOLUCAO,COLETA APOS OBITO,SOLICITACAO APOS OBITO,OBITO INCONSISTENCIA COVID,OBITO INCONSISTENCIA CARTORIOS,STATUS VACINACAO DURANTE COORTE,STATUS VACINACAO
503,SANDRO NOGUEIRA DE SOUSA,1983-09-01,JANETE NOGUEIRA DE SOUSA,RODOLFO TEOFILO,RECEBEU AO MENOS UMA DOSE,NAO,None,JANSSEN,NaT,2021-07-12,...,None,None,None,None,False,False,False,False,,(D4)
504,JENIFER FREITAS DE BARROS,1985-12-05,SILVANA MARIA FREITAS DE BARROS,COACU,RECEBEU AO MENOS UMA DOSE,NAO,None,JANSSEN,NaT,2021-07-12,...,None,None,None,None,False,False,False,False,,(D4)
505,JOHNYS CAVALCANTE VALENTE,1988-10-03,MARIA APARECIDA CAVALCANTE VALENTE,PREFEITO JOSE WALTER,RECEBEU AO MENOS UMA DOSE,NAO,None,JANSSEN,NaT,2021-07-12,...,None,None,None,None,False,False,False,False,,(D4)
506,DANIELY ALVES GARCIA,1988-10-25,MARIA CLEYDE ALVES GARCIA,SERRINHA,RECEBEU AO MENOS UMA DOSE,NAO,None,JANSSEN,NaT,2021-07-12,...,None,None,None,None,False,False,False,False,,(D4)
599,FRANCISCA VALDILEIDE VITOR DA SILVA,1989-01-22,LUIZA VITOR DA SILVA,BELA VISTA,RECEBEU AO MENOS UMA DOSE,NAO,[2022-01-15T00:00:00.000000],JANSSEN,NaT,2021-07-12,...,None,None,None,None,False,False,False,False,,(D4)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269852,BRUNA PEREIRA DE MOURA,1998-02-14,NAJLA PEREIRA DE SOUSA,N√ÉO INFOMRADO,RECEBEU AO MENOS UMA DOSE,NAO,None,JANSSEN,NaT,2021-10-27,...,None,None,None,None,False,False,False,False,,(D4)
2269867,EVELANE SOARES ALMEIDA,1993-10-14,JOSE LUCIANE RODRIGUES ALMEIDA,PLANALTO AYRTON SENNA,RECEBEU AO MENOS UMA DOSE,NAO,None,JANSSEN,NaT,2021-10-27,...,None,None,None,None,False,False,False,False,,(D4)
2269949,GLAUCIA ALVES DE AZEVEDO,1977-11-27,maria socorro azevedo,MUCURIPE,RECEBEU AO MENOS UMA DOSE,NAO,[2021-03-24T00:00:00.000000],JANSSEN,NaT,2021-10-28,...,None,None,None,None,False,False,False,False,,(D4)
2270107,FRANCISCO ROBERLANDIO FONTELES,1988-01-28,ROSILENE FONTELES ARAUJO,BOM JARDIM,RECEBEU AO MENOS UMA DOSE,NAO,None,JANSSEN,NaT,2021-10-29,...,None,None,None,None,False,False,False,False,,(D4)
2270116,DAVI SOUSA DA COSTA,1986-05-24,DAVI SOUSA DA COSTA,SIQUEIRA,RECEBEU AO MENOS UMA DOSE,NAO,None,JANSSEN,NaT,2021-10-29,...,None,None,None,None,False,False,False,False,,(D4)

In [55]:
df.groupby("STATUS VACINACAO DURANTE COORTE")["VACINA APLICADA"].value_counts()

#df["STATUS VACINACAO DURANTE COORTE"].value_counts()

STATUS VACINACAO DURANTE COORTE  VACINA APLICADA
                                 PFIZER             141308
                                 CORONAVAC          135479
                                 ASTRAZENECA          9280
                                 JANSSEN              4524
(D1)                             PFIZER             448484
                                 ASTRAZENECA        406345
                                 CORONAVAC          101627
(D1)(D2)                         ASTRAZENECA        347385
                                 CORONAVAC          270769
                                 PFIZER              91061
(D1)(D2)(D4)                     ASTRAZENECA             3
                                 CORONAVAC               2
(D1)(D4)                         ASTRAZENECA            21
                                 PFIZER                 13
                                 CORONAVAC              11
(D2)                             CORONAVAC            1051
                                 ASTRAZENECA           717
                                 PFIZER                 62
(D4)                             JANSSEN             25513
                                 PFIZER                 95
                                 CORONAVAC              12
                                 ASTRAZENECA             3
Name: VACINA APLICADA, dtype: int64

In [57]:
df["VACINA APLICADA"].isnull().sum()

291544

In [61]:
pareados_cpf = pd.read_parquet("../output/PAREAMENTO/CORONAVAC/PAREADOS_CPF_1.parquet")
eventos = pd.read_parquet("../output/PAREAMENTO/CORONAVAC/EVENTOS_PAREADOS_1.parquet")

In [64]:
eventos

,CPF,DATA D1,DATA D2,DATA OBITO COVID,DATA OBITO GERAL,TIPO,PAR,PAREADO
0,13933680344,2021-01-21,2021-02-14,NaT,NaT,CASO,06840492362,True
1,06840492362,2021-04-02,2021-05-16,NaT,NaT,CONTROLE,13933680344,True
2,16650700304,2021-01-21,2021-02-14,NaT,NaT,CASO,69975981372,True
3,69975981372,2021-11-23,NaT,NaT,NaT,CONTROLE,16650700304,True
4,10965394387,2021-01-21,2021-02-14,NaT,NaT,CASO,03060470391,True
...,...,...,...,...,...,...,...,...
258830,01554648335,NaT,NaT,NaT,NaT,NAO PAREADO,None,False
258831,07322658353,NaT,NaT,NaT,2021-03-19,NAO PAREADO,None,False
258832,11118547349,NaT,NaT,2021-03-23,NaT,NAO PAREADO,None,False
258833,98118749720,NaT,NaT,NaT,NaT,NAO PAREADO,None,False
258834,73863700325,NaT,NaT,2021-03-29,NaT,NAO PAREADO,None,False